
.bg-img {
    /* The image used */
    background-image: url("../images/mbr-1-1620x1080.jpg");
    background-size: cover;
    min-height: 584px;
}

h2{
    color: #ffffff;
    font-weight: 600;
    /* size: 10px; */
}

.selected{
    background-color: #55a4f8;
}
.modal-dialog{
    min-width: 60%;
    min-height: 60%;
    padding: 50px;
    /* opacity: 0.50; */
    /* filter: alpha(opacity=60); */
    /* padding-left: 3rem; */
    /* padding-top: 3rem; */
}


.modal-content{
    /* opacity: 0.90; */
    background: rgba(44, 44, 44, 0.2);
    filter: alpha(opacity=50);
    padding: 0 18px;
    box-shadow: 0px 0px 5px #848484;
    font-family: 'Rubik', sans-serif;
}
@media only screen and (max-width: 767px){
    .modal-dialog{
        max-width: 96%;
        min-height: 60%;
        padding: 10px;
        padding-top: 50px;
    }

    .modal-content{
        background: rgba(44, 44, 44, 0.2);
        filter: alpha(opacity=50);
        padding: 0 5px;
        box-shadow: 0px 0px 5px #848484;
        font-family: 'Rubik', sans-serif;
    }
}

/* .form-group{
    opacity: 1;
} */

form input{
    /* max-width: 80%; */
    /* left: 2%; */
    display: inline-block;
}
form label {
    /* width: 20%; */
    /* margin-bottom: 15px; */
    position: relative;
}
/* label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  } */
.holder-span{
    /* left: 2%; */
    /* display: inline-block; */
    background-color: #ec4545;
    /* background-color: #38adf1; */
    padding: 8px;
        /* width: 31px;
        height: 18px; */
}

.icon-span{
    font-size: 30px;
    display: inline-block;
    color: #fffbfb;
    font-weight: 600;
    height: 100%;
    width: 100%;
    padding-top: 15%;
    /* background-color: rgb(255, 255, 255); */
}

div span{
    text-align: center;  
}

.btn-register {
    /* background: #00afa6; */
    background: #149dcc;
    color: #ffffff;
    font-size: 1em;
    /* text-transform: capitalize; */
    border: 2px solid transparent;
    border-radius: 15% / 50%;
    /* width: 40%; */
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-appearance: none;
    padding: 0.5em 0;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.btn-register:hover{
    background-color: #005368;
    /* background-color: #6610f2; */
}

.user-edit {
    /* background:none;
    border:none;
    margin:0;
    padding:0; */
    cursor: pointer;
}
.user-delete {
    /* background:none;
    border:none;
    margin:0;
    padding:0; */
    cursor: pointer;
}

.card-hover .reveal {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

.card-hover:hover .reveal {
    height: auto;
    visibility: visible;
    opacity: 10;
    transition: opacity 1s ease;
}

/* CSS for custom button */
.custom-button{
    height: 50px;
    border-radius: 25px;
}

/* Shadow for card title */
/* .card-title{
    text-shadow: 
      1px -1px 0 #767676;
} */

th.head-item{
    color: #ec4545 !important;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 5px;
    display:none;
}

.fa-chevron-circle-up{
    color: #ec4545;
}

.datepicker
{
    border-radius: .25rem;

    direction: ltr;
}
.datepicker-inline
{
    width: 220px;
}
.datepicker-rtl
{
    direction: rtl;
}
.datepicker-rtl.dropdown-menu
{
    left: auto;
}
.datepicker-rtl table tr td span
{
    float: right;
}
.datepicker-dropdown
{
    top: 0;
    left: 0;

    padding: 20px 22px;

    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
}
.datepicker-dropdown.datepicker-orient-left:before
{
    left: 6px;
}
.datepicker-dropdown.datepicker-orient-left:after
{
    left: 7px;
}
.datepicker-dropdown.datepicker-orient-right:before
{
    right: 6px;
}
.datepicker-dropdown.datepicker-orient-right:after
{
    right: 7px;
}
.datepicker-dropdown.datepicker-orient-bottom:before
{
    top: -7px;
}
.datepicker-dropdown.datepicker-orient-bottom:after
{
    top: -6px;
}
.datepicker-dropdown.datepicker-orient-top:before
{
    bottom: -7px;

    border-top: 7px solid white; 
    border-bottom: 0;
}
.datepicker-dropdown.datepicker-orient-top:after
{
    bottom: -6px;

    border-top: 6px solid #fff; 
    border-bottom: 0;
}
.datepicker table
{
    margin: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 

    -webkit-touch-callout: none;
}
.datepicker table tr td
{
    border-radius: 50%;
}
.datepicker table tr th
{
    font-weight: 500; 

    border-radius: .25rem;
}
.datepicker table tr td,
.datepicker table tr th
{
    font-size: .875rem; 

    width: 36px;
    height: 36px;

    transition: all .15s ease;
    text-align: center;

    border: none;
}
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th
{
    background-color: transparent;
}
.datepicker table tr td.old,
.datepicker table tr td.new
{
    color: #adb5bd;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.focused
{
    cursor: pointer; 

    background: white;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover
{
    cursor: default; 

    color: #dee2e6;
    background: none;
}
.datepicker table tr td.highlighted
{
    border-radius: 0;
}
.datepicker table tr td.highlighted.focused
{
    background: #5e72e4;
}
.datepicker table tr td.highlighted.disabled,
.datepicker table tr td.highlighted.disabled:active
{
    color: #ced4da; 
    background: #5e72e4;
}
.datepicker table tr td.today
{
    background: white;
}
.datepicker table tr td.today.focused
{
    background: white;
}
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:active
{
    color: #8898aa; 
    background: white;
}
.datepicker table tr td.range
{
    color: #fff;
    border-radius: 0; 
    background: #5e72e4;
}
.datepicker table tr td.range.focused
{
    background: #3b53de;
}
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:active,
.datepicker table tr td.range.day.disabled:hover
{
    color: #8a98eb; 
    background: #324cdd;
}
.datepicker table tr td.range.highlighted.focused
{
    background: #cbd3da;
}
.datepicker table tr td.range.highlighted.disabled,
.datepicker table tr td.range.highlighted.disabled:active
{
    color: #dee2e6; 
    background: #e9ecef;
}
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:active
{
    color: #fff; 
    background: #5e72e4;
}
.datepicker table tr td.day.range-start
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.datepicker table tr td.day.range-end
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.datepicker table tr td.day.range-start.range-end
{
    border-radius: 50%;
}
.datepicker table tr td.selected,
.datepicker table tr td.selected.highlighted,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.highlighted:hover,
.datepicker table tr td.day.range:hover
{
    color: #fff; 
    background: #5e72e4;
}
.datepicker table tr td.active,
.datepicker table tr td.active.highlighted,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.highlighted:hover
{
    color: #fff;
    background: #5e72e4;
    box-shadow: none;
}
.datepicker table tr td span
{
    line-height: 54px;

    display: block;
    float: left;

    width: 23%;
    height: 54px;
    margin: 1%;

    cursor: pointer;

    border-radius: 4px;
}
.datepicker table tr td span:hover,
.datepicker table tr td span.focused
{
    background: #e9ecef;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover
{
    cursor: default; 

    color: #dee2e6;
    background: none;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover
{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
.datepicker table tr td span.old,
.datepicker table tr td span.new
{
    color: #8898aa;
}
.datepicker .datepicker-switch
{
    width: 145px;
}
.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker tfoot tr th
{
    cursor: pointer;
}
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover
{
    background: #e9ecef;
}
.datepicker .prev.disabled,
.datepicker .next.disabled
{
    visibility: hidden;
}
.datepicker .cw
{
    font-size: 10px;

    width: 12px;
    padding: 0 2px 0 5px;

    vertical-align: middle;
}

/* CSS for toggle button */
.custom-toggle
{
    position: relative;

    display: inline-block;

    width: 50px;
    height: 1.5rem;
}
.custom-toggle input
{
    display: none;
}
.custom-toggle input:checked + .custom-toggle-slider
{
    border: 1px solid #5e72e4;
}
.custom-toggle input:checked + .custom-toggle-slider:before
{
    transform: translateX(1.625rem); 

    background: #5e72e4;
}
.custom-toggle input:disabled + .custom-toggle-slider
{
    border: 1px solid #e9ecef;
}
.custom-toggle input:disabled:checked + .custom-toggle-slider
{
    border: 1px solid #e9ecef;
}
.custom-toggle input:disabled:checked + .custom-toggle-slider:before
{
    background-color: #8a98eb;
}

.custom-toggle-slider
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    cursor: pointer;

    border: 1px solid #5e72e4;
    border-radius: 34px !important;
    background-color: transparent;
}
.custom-toggle-slider:before
{
    position: absolute;
    bottom: 2px;
    left: 2px;

    width: 18px;
    height: 18px;

    content: '';
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55); 

    border-radius: 50% !important;
    background-color: #5e72e4;
}

.form_advance_search{
    border-color: #5e72e4 !important;
    padding: 2%;
}

.search_style{
    color: #fff;
}

#error_message{
    color: #ec4545;
}
#stripes,#stripes span{
    position:absolute
}
#stripes{
    width:100%;
    height:100%;
    overflow:hidden;
    -webkit-transform:skewY(-12deg);
    transform:skewY(-12deg);
    -webkit-transform-origin:0;
    transform-origin:0;
    background:linear-gradient(150deg,rgb(92, 61, 250) 15%,#05d5ff 70%,#a6ffcb 94%)
}
#stripes span{
    height:40px
}
#stripes :first-child{
    width:50%;
    left:50%;
    top:40px;
    background:#4c29ff
}
#stripes :nth-child(2){
    width:14%;
    right:0;
    bottom:40px;
    background:#2be7ff
}
#stripes :nth-child(3){
    width:25%;
    bottom:0;
    right:0;
    background:#a1ffc8
}

#activity_table_length{
    display: none; 
}

@media (min-width:670px){
    #stripes span{
        height:150px
    }#stripes :first-child{
        top:0;
        background:#4750ff;
    }#stripes :nth-child(2){
        width:16.66667%;
        top:300px;
        bottom:auto;
        background:#0dcfff
    }#stripes :nth-child(3){
        width:33.33333%;
        right:auto;
        background:#11bdff
    }
}
@media (min-width:880px){
    #stripes span{height:190px}
    #stripes :first-child{width:33.33333%;left:-16.66666%;background:#53f;}
    #stripes :nth-child(2){width:33.33333%;top:0;left:16.66666%;right:auto;background:#4553ff}
    #stripes :nth-child(3){width:33.33333%;left:49.99999%;bottom:auto;background:#4f40ff}
    #stripes :nth-child(4){width:33.33333%;top:380px;right:-16.66666%;background:#25ddf5}
    #stripes :nth-child(5){width:33.33333%;bottom:0;background:#1fa2ff}
}

.advance_search_button{
    background-color: #53f !important;
    border-radius: 15% / 50%;
}

.modal-confirm {		
    color: #636363;
    width: 400px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
}
.modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
    display: inline-block;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    /* margin: 30px 0 -10px; */
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;		
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
    color: #999;
}		
.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
    padding: 0%;
}
.modal-confirm .btn-info {
    background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #a8a8a8;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/* CSS for history timeline */
.main-timeline{
    overflow: hidden;
    position: relative;
}

.main-timeline:before{
    content: "";
    width: 10px;
    height: 100%;
    border: 3px solid #959595;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.main-timeline .timeline{
    width: 50%;
    padding: 10px 10px 10px 50px;
    float: right;
    text-align: left;
    position: relative;
}

.main-timeline .timeline:before{
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c47c48;
    border: 5px solid #fff;
    box-shadow: 0 0 1px 5px #c47c48;
    position: absolute;
    top: 42px;
    left: -20px;
}

.main-timeline .timeline-content{
    display: block;
    background: #e9e9e7;
    padding: 70px 30px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
    position: relative;
}

.main-timeline .timeline-content:hover{ text-decoration: none; }

.main-timeline .year{
    display: block;
    width: 80%;
    height: 50px;
    background: #c47c48;
    /* padding: 0 0 0 50px; */
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4) inset;
    border-radius: 10px 10px 10px 0;
    position: absolute;
    top: 20px;
    left: -20px;
}

.main-timeline .year:before{
    content: "";
    border-top: 40px solid #c47c48;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    bottom: -60px;
    left: 0;
}

.main-timeline .title{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #4a4a4a;
}

.main-timeline .description{
    font-size: 14px;
    color: #6f6f6f;
    margin: 0 0 5px 0;
}

.main-timeline .timeline:nth-child(2n){
    padding: 10px 50px 10px 10px;
    text-align: right;
}

.main-timeline .timeline:nth-child(2n):before{
    left: auto;
    right: -20px;
}

.main-timeline .timeline:nth-child(2n) .year{
    /* padding-right: 50px; */
    border-radius: 10px 10px 0 10px;
    left: auto;
    right: -20px;
}

.main-timeline .timeline:nth-child(2n) .year:before{
    border-left: none;
    border-right: 20px solid transparent;
    left: auto;
    right: 0;
}

.main-timeline .timeline:nth-child(2){ margin-top: 140px; }

.main-timeline .timeline:nth-child(odd){ margin: -140px 0 0 0; }

.main-timeline .timeline:nth-child(even){ margin-bottom: 60px; }

.main-timeline .timeline:first-child{ margin: 0; }

.main-timeline .timeline:nth-child(2n):before{
    background: #bf3fc8;
    box-shadow: 0 0 1px 5px #bf3fc8;
}

.main-timeline .timeline:nth-child(2n) .year{ background: #bf3fc8; }

.main-timeline .timeline:nth-child(2n) .year:before{ border-top-color: #bf3fc8; }

.main-timeline .timeline:nth-child(3n):before{
    background: #ce3c41;
    box-shadow: 0 0 1px 5px #ce3c41;
}

.main-timeline .timeline:nth-child(3n) .year{ background: #ce3c41; }

.main-timeline .timeline:nth-child(3n) .year:before{ border-top-color: #ce3c41; }

.main-timeline .timeline:nth-child(4n):before{
    background: #8cc43d;
    box-shadow: 0 0 1px 5px #8cc43d;
}

.main-timeline .timeline:nth-child(4n) .year{ background: #8cc43d; }

.main-timeline .timeline:nth-child(4n) .year:before{ border-top-color: #8cc43d; }

@media only screen and (max-width: 990px){
    .main-timeline:before{ top: 8%; }
    .main-timeline .timeline{ padding: 10px 10px 10px 100px; }
    .main-timeline .timeline:nth-child(2n){ padding: 10px 100px 10px 10px; }
}

@media only screen and (max-width: 767px){
    .main-timeline:before{
        width: 8px;
        top: 0;
        left: 12px;
        transform: translateX(0);
    }
    .main-timeline .timeline-content {
        left: -10px;
        width: 125%;
    }
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline:nth-child(odd){
        width: 100%;
        float: none;
        text-align: left;
        padding: 0 0 0 60px;
        margin: 0 0 30px 0;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(2n):before{
        width: 20px;
        height: 20px;
        border: 3px solid #fff;
        top: 38px;
        left: 6px;
    }
    .main-timeline .timeline:nth-child(2n) .year{
        right: auto;
        left: -20px;
        border-radius: 10px 10px 10px 0;
    }
    .main-timeline .timeline:nth-child(2n) .year:before{
        border-left: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: none;
        right: auto;
        left: 0;
    }
}

.fixed-plugin {
    position: fixed;
    top: 115px;
    right: 0;
    width: 40px;
    height: 32px;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
}

.fixed-plugin span{
    color: #4e4e4e;
    font-size: 30px;
}

.searchbox-input{
    border-radius: 50px !important;
}

.input-group-append.search-div{
    margin-left: -55px;
    position: relative;
}

.search-group-text{
    background-color: #f5f5f5; 
    /* color: #000000;  */
    border-radius:50px !important;
    line-height: 1.3;
}

.height-400 {
    height: 400px !important;
}

/* CSS for Doughnut chart */

.doughnut-card-header .heading-elements-toggle {
    background-color: inherit;
    position: absolute;
    top: 14px;
    right: 21px;
}

.doughnut-card-header .heading-elements, .doughnut-card-header .heading-elements-toggle {
    background-color: inherit;
    position: absolute;
    top: 14px;
    right: 21px;
}

.chart-card{
    background-color: #fff;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

@media (min-width: 992px){
    .heading-elements-toggle {
        display: none;
    }
}