
.bg-img {
    /* The image used */
    background-image: url("../images/mbr-1-1620x1080.jpg");
    background-size: cover;
    min-height: 584px;
}

h2{
    color: #ffffff;
    font-weight: 600;
    /* size: 10px; */
}

.selected{
    background-color: #55a4f8;
}
.modal-dialog{
    min-width: 60%;
    min-height: 60%;
    padding: 50px;
    /* opacity: 0.50; */
    /* filter: alpha(opacity=60); */
    /* padding-left: 3rem; */
    /* padding-top: 3rem; */
}

.modal-content{
    /* opacity: 0.90; */
    background: rgba(44, 44, 44, 0.2);
    filter: alpha(opacity=50);
    padding: 0 18px;
    box-shadow: 0px 0px 5px #848484;
    font-family: 'Rubik', sans-serif;
}

/* .form-group{
    opacity: 1;
} */

form input{
    /* max-width: 80%; */
    /* left: 2%; */
    display: inline-block;
}
form label {
    /* width: 20%; */
    /* margin-bottom: 15px; */
    position: relative;
}
/* label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  } */
.holder-span{
    /* left: 2%; */
    /* display: inline-block; */
    background-color: #ec4545;
    /* background-color: #38adf1; */
    padding: 8px;
        /* width: 31px;
        height: 18px; */
}

.icon-span{
    font-size: 30px;
    display: inline-block;
    color: #fffbfb;
    font-weight: 600;
    height: 100%;
    width: 100%;
    padding-top: 15%;
    /* background-color: rgb(255, 255, 255); */
}

div span{
    text-align: center;  
}

.btn-register {
    /* background: #00afa6; */
    background: #149dcc;
    color: #ffffff;
    font-size: 1em;
    /* text-transform: capitalize; */
    border: 2px solid transparent;
    border-radius: 15% / 50%;
    /* width: 40%; */
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-appearance: none;
    padding: 0.5em 0;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.btn-register:hover{
    background-color: #005368;
    /* background-color: #6610f2; */
}

.user-edit {
    /* background:none;
    border:none;
    margin:0;
    padding:0; */
    cursor: pointer;
}
.user-delete {
    /* background:none;
    border:none;
    margin:0;
    padding:0; */
    cursor: pointer;
}

.card-hover .reveal {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

.card-hover:hover .reveal {
    height: auto;
    visibility: visible;
    opacity: 10;
    transition: opacity 1s ease;
}

/* CSS for custom button */
.custom-button{
    height: 50px;
    border-radius: 25px;
}

/* Shadow for card title */
/* .card-title{
    text-shadow: 
      1px -1px 0 #767676;
} */

th.head-item{
    color: #ec4545 !important;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 5px;
    display:none;
}

.fa-chevron-circle-up{
    color: #ec4545;
}

.datepicker
{
    border-radius: .25rem;

    direction: ltr;
}
.datepicker-inline
{
    width: 220px;
}
.datepicker-rtl
{
    direction: rtl;
}
.datepicker-rtl.dropdown-menu
{
    left: auto;
}
.datepicker-rtl table tr td span
{
    float: right;
}
.datepicker-dropdown
{
    top: 0;
    left: 0;

    padding: 20px 22px;

    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
}
.datepicker-dropdown.datepicker-orient-left:before
{
    left: 6px;
}
.datepicker-dropdown.datepicker-orient-left:after
{
    left: 7px;
}
.datepicker-dropdown.datepicker-orient-right:before
{
    right: 6px;
}
.datepicker-dropdown.datepicker-orient-right:after
{
    right: 7px;
}
.datepicker-dropdown.datepicker-orient-bottom:before
{
    top: -7px;
}
.datepicker-dropdown.datepicker-orient-bottom:after
{
    top: -6px;
}
.datepicker-dropdown.datepicker-orient-top:before
{
    bottom: -7px;

    border-top: 7px solid white; 
    border-bottom: 0;
}
.datepicker-dropdown.datepicker-orient-top:after
{
    bottom: -6px;

    border-top: 6px solid #fff; 
    border-bottom: 0;
}
.datepicker table
{
    margin: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 

    -webkit-touch-callout: none;
}
.datepicker table tr td
{
    border-radius: 50%;
}
.datepicker table tr th
{
    font-weight: 500; 

    border-radius: .25rem;
}
.datepicker table tr td,
.datepicker table tr th
{
    font-size: .875rem; 

    width: 36px;
    height: 36px;

    transition: all .15s ease;
    text-align: center;

    border: none;
}
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th
{
    background-color: transparent;
}
.datepicker table tr td.old,
.datepicker table tr td.new
{
    color: #adb5bd;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.focused
{
    cursor: pointer; 

    background: white;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover
{
    cursor: default; 

    color: #dee2e6;
    background: none;
}
.datepicker table tr td.highlighted
{
    border-radius: 0;
}
.datepicker table tr td.highlighted.focused
{
    background: #5e72e4;
}
.datepicker table tr td.highlighted.disabled,
.datepicker table tr td.highlighted.disabled:active
{
    color: #ced4da; 
    background: #5e72e4;
}
.datepicker table tr td.today
{
    background: white;
}
.datepicker table tr td.today.focused
{
    background: white;
}
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:active
{
    color: #8898aa; 
    background: white;
}
.datepicker table tr td.range
{
    color: #fff;
    border-radius: 0; 
    background: #5e72e4;
}
.datepicker table tr td.range.focused
{
    background: #3b53de;
}
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:active,
.datepicker table tr td.range.day.disabled:hover
{
    color: #8a98eb; 
    background: #324cdd;
}
.datepicker table tr td.range.highlighted.focused
{
    background: #cbd3da;
}
.datepicker table tr td.range.highlighted.disabled,
.datepicker table tr td.range.highlighted.disabled:active
{
    color: #dee2e6; 
    background: #e9ecef;
}
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:active
{
    color: #fff; 
    background: #5e72e4;
}
.datepicker table tr td.day.range-start
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.datepicker table tr td.day.range-end
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.datepicker table tr td.day.range-start.range-end
{
    border-radius: 50%;
}
.datepicker table tr td.selected,
.datepicker table tr td.selected.highlighted,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.highlighted:hover,
.datepicker table tr td.day.range:hover
{
    color: #fff; 
    background: #5e72e4;
}
.datepicker table tr td.active,
.datepicker table tr td.active.highlighted,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.highlighted:hover
{
    color: #fff;
    background: #5e72e4;
    box-shadow: none;
}
.datepicker table tr td span
{
    line-height: 54px;

    display: block;
    float: left;

    width: 23%;
    height: 54px;
    margin: 1%;

    cursor: pointer;

    border-radius: 4px;
}
.datepicker table tr td span:hover,
.datepicker table tr td span.focused
{
    background: #e9ecef;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover
{
    cursor: default; 

    color: #dee2e6;
    background: none;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover
{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
.datepicker table tr td span.old,
.datepicker table tr td span.new
{
    color: #8898aa;
}
.datepicker .datepicker-switch
{
    width: 145px;
}
.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker tfoot tr th
{
    cursor: pointer;
}
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover
{
    background: #e9ecef;
}
.datepicker .prev.disabled,
.datepicker .next.disabled
{
    visibility: hidden;
}
.datepicker .cw
{
    font-size: 10px;

    width: 12px;
    padding: 0 2px 0 5px;

    vertical-align: middle;
}

/* CSS for toggle button */
.custom-toggle
{
    position: relative;

    display: inline-block;

    width: 50px;
    height: 1.5rem;
}
.custom-toggle input
{
    display: none;
}
.custom-toggle input:checked + .custom-toggle-slider
{
    border: 1px solid #5e72e4;
}
.custom-toggle input:checked + .custom-toggle-slider:before
{
    transform: translateX(1.625rem); 

    background: #5e72e4;
}
.custom-toggle input:disabled + .custom-toggle-slider
{
    border: 1px solid #e9ecef;
}
.custom-toggle input:disabled:checked + .custom-toggle-slider
{
    border: 1px solid #e9ecef;
}
.custom-toggle input:disabled:checked + .custom-toggle-slider:before
{
    background-color: #8a98eb;
}

.custom-toggle-slider
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    cursor: pointer;

    border: 1px solid #5e72e4;
    border-radius: 34px !important;
    background-color: transparent;
}
.custom-toggle-slider:before
{
    position: absolute;
    bottom: 2px;
    left: 2px;

    width: 18px;
    height: 18px;

    content: '';
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55); 

    border-radius: 50% !important;
    background-color: #5e72e4;
}
